.cart-count {
    color: #f08804;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.cart-count a{
    text-decoration: none;
}

.cart-count a:visited{
    color:black;
}

.cart-count:before {
    font-family: FontAwesome;
    margin-top:-30px;
    margin-right:-5px;
    color:white;
    font-size: 24px;
    padding-right:10px;
    content: "\f07a";
}